* {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: linear-gradient(79deg, #e5bef5,#b667d6 40%,#fbc486);
}
.auth-form-container, 
.login-form, 
.register-form{
  display: flex;
  flex-direction: column;
}
label{
  text-align: left;
  padding: 1rem 0;
}
input{
  margin: 0.25rem 0;
  padding: 1rem;
  border:none;
  border-radius: 1rem;
}
button{
  border: none;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #8122a6;
}
.link-btn{
  background:none;
  color: #fff;
  text-decoration: underline;
}
@media screen and (min-width:680px){
  .auth-form-container{
    padding: 5rem;
    border: 1px solid #fff;
    border-radius: 1rem;
    margin: 0.5rem;
  }
}